body{
    padding: 0;
    background-color:white;
    height: 1px;
}

.first-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr
}

ul{
    align-items:grid
}


.Letter-underline{
    text-decoration: underline;
}


h1{
    color:midnightblue;
    margin: 10px;
    text-decoration: underline;
    padding-top: 20px;
}

p{
    color: black;
    margin-bottom: 20px;
}

.button{
    cursor: pointer;
    background-color: red;
    border-style: none;
}

img{
    width: 100%;
    display: flex;
    margin: 0,5px,5px,5px;
    border: 2px solid lightblue;
}

h2,h3{
    color: black;
    min-width: 110px;
    padding: 5px,0,0,0;
    margin: 0;

}

.logo{
    width: 50px;
    height: 70px;
    display: grid;
    grid-template-rows: 1fr ;
    margin: 10px;

}

.left-sidebar, .main-sidebar, .right-sidebar{
    width: 300px;
    height: 100vh;
    height: fit-content;
    background-color: green;
    display: inline-flex;
    padding: 10px;
    margin: 10px;
}

.left-sidebar, table{
    border: 2px solid black;
    
}

.left-sidebar, table, tr, td, th{
    border: 2px solid black;
    border-collapse: collapse;
}

 input{
    display: inline-block;
    min-height: 50px;
    max-height: 200px;
    height: 1000%;
    background-color: white;
    color: black;
}

.lorem, .table, .question{
    align-items: center;
}
